Django==6.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
gunicorn
dj-database-url
psycopg2-binary

gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
geopy
reportlab
whitenoise
